$platinum: #f0f0f0;
$grey-olive: #909090;
$charcoal-brown: #42403e;
$carbon-black: #232323;
$muted-teal: #7cbba4;

$gradient-top: linear-gradient(0deg, $platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);
$gradient-right: linear-gradient(90deg, $platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);
$gradient-bottom: linear-gradient(180deg, $platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);
$gradient-left: linear-gradient(270deg, $platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);
$gradient-top-right: linear-gradient(45deg, $platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);
$gradient-bottom-right: linear-gradient(135deg, $platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);
$gradient-top-left: linear-gradient(225deg, $platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);
$gradient-bottom-left: linear-gradient(315deg, $platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);
$gradient-radial: radial-gradient($platinum, $grey-olive, $charcoal-brown, $carbon-black, $muted-teal);

:root {
  --color-platinum: #{$platinum};
  --color-grey-olive: #{$grey-olive};
  --color-charcoal-brown: #{$charcoal-brown};
  --color-carbon-black: #{$carbon-black};
  --color-muted-teal: #{$muted-teal};

  --gradient-top: #{$gradient-top};
  --gradient-right: #{$gradient-right};
  --gradient-bottom: #{$gradient-bottom};
  --gradient-left: #{$gradient-left};
  --gradient-top-right: #{$gradient-top-right};
  --gradient-bottom-right: #{$gradient-bottom-right};
  --gradient-top-left: #{$gradient-top-left};
  --gradient-bottom-left: #{$gradient-bottom-left};
  --gradient-radial: #{$gradient-radial};
}
