@use './theme/palette';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: var(--color-platinum, white);
  color: var(--color-carbon-black, black);

  a {
    color: inherit;
  }
}
